@import '~antd/dist/antd.css';

body{
    background: #fff;
}
.todoList{
    width: 500px;
    margin: 100px auto;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}